<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @twit.content %>
</p>

<p>
  <b>User:</b>
  <%= @twit.user_id %>
</p>


<%= link_to 'Edit', edit_twit_path(@twit) %> |
<%= link_to 'Back', twits_path %>
